parameters:
	ignoreErrors:
		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: CRM/Eventinvitation/Form/Task/ContactSearch.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: CRM/Eventinvitation/Queue/Runner/Job.php
